  <!-- Header -->
@using PhoneStore.Models.ViewModel
@using PhoneStore.Data
@using PhoneStore.Models.ViewModel.User
@using PhoneStore.CustomHandler
@model PhoneStore.Models.ViewModel.HeaderViewModel

@{
    ICollection<BrandGroup> Phone = Model.Phone;
    ICollection<BrandGroup> Accesscories = Model.Accesscories;
    ICollection<BrandGroup> Laptops = Model.Laptops;


    Account user = Model.user;
    int cartCount = Model.cartCount;
}
<header class="header">
    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo"><a href="@Url.Action("Index","Home")">Sublime.</a></div>
                        <nav class="main_nav">
                            <ul>
                                <li class="hassubs active">
                                    <a href="@Url.Action("Product","Product",new {gid = 1 })">Điện thoại</a>
                                    <ul>
                                        @foreach (var item in Phone)
                                        {
                                            <li><a href="@Url.Action("Product","Product", new { gid = 1, bid = item.BrandId })">@item.Brand.BrandName</a></li>
                                        }

                                    </ul>
                                </li>
                                <li class="hassubs">
                                    <a href="@Url.Action("Product","Product",new {gid = 3})">Laptop</a>
                                    <ul>
                                        @foreach (var item in Laptops)
                                        {
                                            <li><a href="@Url.Action("Product","Product", new { gid = 3, bid = item.BrandId })">@item.Brand.BrandName</a></li>
                                        }
                                    </ul>
                                </li>
                                <li class="hassubs">
                                    <a href="@Url.Action("Product","Product",new {gid = 2})" style="min-width:100px"> Phụ kiện</a>
                                    <ul>
                                        @{



                                            foreach(var item in Accesscories.Select(x => new { typeId = x.TypeId, typeName = x.Type.TypeName }).Distinct())
                                            {
                                                <li><a href="@Url.Action("Product","Product", new { gid = 2, tid = item.typeId  })">@item.typeName</a></li>
                                            }
                                        }

                                    </ul>
                                </li>

                                @*<li><a href="contact.html">Contact</a></li>*@
                            </ul>
                        </nav>
                        <div class="header_extra ml-auto">
                            <div class="search">
                                <div class="search_icon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="shopping_cart">
                                <a href="@Url.Action("Cart","Product")">
                                    <i class="fa fa-shopping-cart"></i>
                                    <div>Giỏ hàng <span>(@cartCount)</span></div>
                                </a>
                            </div>
                            @if (user != null)
                            {
                                <div class="account">
                                    <a href="@Url.Action("AccountInfo", "Home")">
                                        @{
                                            var name = FileManager.StringSeparator(user.AccName, " ");

                                        }
                                        <div>Chào @name.Last() </div>
                                    </a>
                                </div>
                                <div class="account">
                                    <a href="@Url.Action("Logout","Home")">

                                        <div>Thoát</div>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="account">
                                    <a href="@Url.Action("Login","Home")">

                                        <div>Tài khoản </div>
                                    </a>
                                </div>

                            }

                            <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Panel -->
    <div class="search_panel trans_300">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="search_panel_content d-flex flex-row align-items-center justify-content-end">
                        <div class="search-hover">
                            <input type="text" class="search_input" placeholder="Tìm kiếm" id="search-input">
                            <div class="search-list" id="SearchData">
                            </div>
                        </div>


                    </div>


                </div>

            </div>

        </div>
    </div>


    <!-- Social -->

</header>

<!-- Menu -->

<div class="menu menu_mm trans_300">
    <div class="menu_container menu_mm">
        <div class="page_menu_content">

            <div class="page_menu_search menu_mm">
                <form action="#">
                    <input type="search" required="required" class="page_menu_search_input menu_mm" placeholder="Search for products...">
                </form>
            </div>
            <ul class="page_menu_nav menu_mm">
                <li class="page_menu_item has-children menu_mm">
                    <a href="index.html">Điện thoại<i class="fa fa-angle-down"></i></a>
                    <ul class="page_menu_selection menu_mm">
                        @foreach (var item in Phone)
                        {
                            <li><a href="@Url.Action("Product","Product")">@item.Brand.BrandName</a></li>
                            <li class="page_menu_item menu_mm"><a href="@Url.Action("Product","Product")">@item.Brand.BrandName<i class="fa fa-angle-down"></i></a></li>
                        }
                    </ul>
                </li>
                <li class="page_menu_item has-children menu_mm">
                    <a href="categories.html">Laptop<i class="fa fa-angle-down"></i></a>
                    <ul class="page_menu_selection menu_mm">
                        <li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
                        <li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
                        <li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
                        <li class="page_menu_item menu_mm"><a href="categories.html">Category<i class="fa fa-angle-down"></i></a></li>
                    </ul>
                </li>
                <li class="page_menu_item has-children menu_mm">
                    <a href="@Url.Action("Product","Product")">Phụ kiện<i class="fa fa-angle-down"></i></a>
                    <ul class="page_menu_selection menu_mm">
                        @foreach (var item in Accesscories)
                        {
                            <li class="page_menu_item menu_mm"><a href="@Url.Action("Product","Product")">@item.Type.TypeName<i class="fa fa-angle-down"></i></a></li>
                        }
                    </ul>
                </li>
                <li class="page_menu_item menu_mm"><a href="index.html">Accessories<i class="fa fa-angle-down"></i></a></li>
                <li class="page_menu_item menu_mm"><a href="#">Offers<i class="fa fa-angle-down"></i></a></li>
                <li class="page_menu_item menu_mm"><a href="contact.html">Contact<i class="fa fa-angle-down"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="menu_social">
        <ul>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>