
@{
    ViewData["Title"] = "ProductInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

    <link rel="stylesheet" type="text/css" href="~/styles/product.css">
    <link rel="stylesheet" type="text/css" href="~/styles/product_responsive.css">
}
@using PhoneStore.Models.ViewModel
@using PhoneStore.Data
@using PhoneStore.CustomHandler
@model ProductInfoViewModel

@{
    Product pro = Model.Product;
    
    IEnumerable<VarImages> imageList = Model.ImageList;
    IEnumerable<Product> related = Model.Related;

}
<div class="product_details">
    <div class="container">
        <div class="row details_row">

            <!-- Product Image -->
            <div class="col-lg-6">
                <div class="details_image">
                    <div class="details_image_large"><img src="~/@imageList.First().ImgPath" alt=""><div class="product_extra product_new"><a href="categories.html">New</a></div></div>
                    <div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
                        @foreach (var item in imageList)
                        {
                            <div id="image_@item.ImgIndex" class="details_image_thumbnail" data-image="@Url.Content("~/"+item.ImgPath)"><img src="~/@item.ImgPath" alt=""></div>

                        }
                    </div>
                </div>
            </div>

            <!-- Product Content -->
            <div class="col-lg-6">
                <div class="details_content">
                    <div class="details_name">@pro.ProName</div>
                    @if (pro.ProSalePrice != null)
                    {
                        <div class="details_discount">@Currency.CurrencyFormat(pro.ProRetailPrice) </div>
                        <div class="details_price">@Currency.CurrencyFormat(pro.ProSalePrice)</div>
                        <div class="details_price">-@Currency.Percentage(pro.ProSalePrice.Value, pro.ProRetailPrice.Value)%</div>
                    }
                    else
                    {
                        <div class="details_price">@Currency.CurrencyFormat(pro.ProRetailPrice) </div>
                    }
                    <!-- In Stock -->


                    <div class="fs-dticolor fs-dticolor-img">
                        <ul>

                            @foreach (ProVariant vari in pro.ProVariant)
                            {
                                <li data-vid="@vari.VarId
                                    ">
                                    <span class="choose-color">
                                        <b>
                                            <img src="~/@vari.VarColorIcon" alt="">
                                        </b>
                                        <span>
                                            @vari.VarColor
                                        </span>
                                    </span>
                                </li>
                            }




                        </ul>
                    </div>

                    <!-- Product Quantity -->
                    <div class="product_quantity_container">
                        <div id="addtocart" data-pid="@pro.ProId" class="button cart_button"><span>Mua ngay</span></div>
                    </div>

                    <!-- Share -->
                    <div class="details_share">
                        <span>Share:</span>
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row description_row">
            @if (pro.ProDescription != null)
            {
                <div id="des" class="col-sm-8">
                    <div class="description_title_container">
                        <div class="description_title">Đặc điểm nổi bật</div>

                    </div>
                    <div class="description_text">
                        @Html.Raw(pro.ProDescription)
                    </div>
                </div>
            }

            <div id="info" class="col-sm-4">
                <div class="description_title_container">
                    <div class="description_title">Thông số kỹ thuật</div>

                </div>
                <div class="pi-right">
                    <ul>
                        @foreach (ProSpecification item in pro.ProSpecification)
                        {
                            <li>
                                <label>@item.Spec.SpecName</label>
                                <span>@item.SpecValue</span>
                            </li>
                        }

                    </ul>




                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="products_title">Sản phẩm liên quan</div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="product_grid">
                    @foreach (var item in related)
                    {
                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="~/@item.ProImage" alt="@item.ProName"></div>
                            <div class="product_extra product_new"><a href="categories.html">New</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="@Url.Action("ProductInfo","Product", new { pid = item.ProId })">@Truncate.Trundcate(item.ProName, 40)</a></div>
                                @if (item.ProSalePrice != null)
                                {
                                    <div class="product_price">@Currency.CurrencyFormat(item.ProSalePrice)</div>
                                }
                                else
                                {
                                    <div class="product_price">@Currency.CurrencyFormat(item.ProRetailPrice)</div>
                                }
                            </div>
                        </div>
                    }




                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->


@section scripts  {

    <script src="~/js/product.js"></script>

}