
@{
    ViewData["Title"] = "ProductSpec";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
@section css{ }
@model PhoneStore.Data.Product


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- Phone -->
                    <div id="p-div" class="card card-success p-div">
                        <div class="card-header">
                            <h3 class="card-title">Thông số kỹ thuật sản phẩm @Model.ProName</h3>
                        </div>
                        <form id="p-form" enctype="multipart/form-data">
                            <div class="card-body">
                                <div class="spec-info">
                                    
                                    <div class="row">
                                        @foreach (var item in Model.ProSpecification)
                                        {
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label> @item.Spec.SpecName</label>
                                                    <input type="text" class="form-control" id="@item.SpecId" data-spec="@item.SpecId" name="@item.SpecId" value="@item.SpecValue">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">


                                <button type="submit" class="btn btn-info float-right">Lưu</button>
                            </div>
                        </form>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
@section scripts{
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="~/js/product/addvariant.js"></script>
}

